
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

 
    /* <uniquifier>: Use a unique and descriptive class name
    /*<weight>: Use a value from 200 to 1000 */
    
    body {
      font-family: "Mulish", sans-serif;
      }

      header{ 
        width: 1440px;
        height: 500px;
        background: #FFF;
        padding: 50px 240px;
      }

      nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .bar1 {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .bar{
        display: flex;
      }
      .orange{
        color: #FF5400;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      .black{
        color: #131318;
        font-family: Mulish;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }

      .Home {
        color: #FF5400; 
      }
      .list {
        list-style: none;
        margin-right: 30px;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
      }
      .logo{
        width: 48px;
       height: 56.008px;
       flex-shrink: 0;
      }
      .ank {
        text-decoration: none;
        color: #424247;
      }
 .pic{
  background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
   url('../Images/Group 13 (1) (1).png');
  width: 1400px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  margin: auto;
  
  margin-bottom: 200px;
  background-size: cover;
 

 }    
 .Explore1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

 } 

 .travel{
  color: #FFF;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
 }
 .travel2{
  width: 676px;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
 }
 .Explore2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
 }
 
 
 .wow{
  color: rgba(19, 19, 24, 0.50);
  text-align: left;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 174px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  text-decoration: none;

 }
 .wow1{
  color: rgba(19, 19, 24, 0.50);
  font-family: Mulish;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 174px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;

 }

  #arrow{
    width: 24px;
    height: 24px;
    height: 24px;
    margin-left: -40px;
    
    flex-shrink: 0;
  }
 .wow2{
  color: rgba(19, 19, 24, 0.50);
  font-family: Mulish;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 174px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;

 }
 #arrow1{
  width: 24px;
  height: 24px;
  margin-left: -40px;
  flex-shrink: 0;
 }

  .header-btn{
    background: #FF5400;
    border:none;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:40px;
  padding-left:40px;
  border-radius:8px;
  color:white;
  font-weight:700;
  font-size:16px;
  text-align:center;
  cursor:pointer;
  transition:box-shadow 0.3s, transform 0.3s;
  }

  .header-btn:hover{
    box-shadow: 0 0 8px  #FF5400;
    transform:scale(1.1);
  }

  

 
 .one-sec{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1440px;
  height: 900px;
  border: #FF5400 solid;
  justify-content: space-between;
  

 }
 .one-title{
  color: #131318;
text-align: left;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
 }
 .mountain, .mount{
  width: 525px;
  
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
 }
 .last-one{
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  width: 530px;
 }

 .btn-one{
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

 .img-one{
  width: 540px;
height: 550px;
flex-shrink: 0;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

 }

 .two-contant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #FF5400 solid;
 }
 .two-title{
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
 }
 .write-two{
  width: 643px;
  color: rgba(19, 19, 24, 0.70);
  justify-content: center;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
 }

 .two-sec-pic{
  display: flex;
justify-content: center;
align-items: center;
border: #FF5400 solid;

 }
 .flex1{
  display:flex;
  gap:24px;
  margin-bottom:24px;
}

.country-name{
  display: flex;
  margin-top:130px;
  justify-content: center;
  color:white;
  font-weight: 800;
  font-size: 28px;
}

  

.pic1{
  background-image:url('../Images/Rectangle\ 5.png');
  object-fit:cover;
  width: 573px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic1:hover{
  transform: scale(1.1);
}

.pic2{
  background-image:url('../Images/Rectangle\ 8.png');
  object-fit:cover;
  width: 573px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic2:hover{
  transform: scale(1.1);
}



.flex2{
 display:flex;
 gap:24px;
 margin-bottom:24px;
}

.pic3{
  background-image:url('../Images/Rectangle\ 6.png');
  object-fit:cover;
  width: 374px;
  height: 286px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic3:hover{
  transform: scale(1.1);
}


.pic4{
  background-image:url('../Images/Rectangle\ 7.png');
  object-fit:cover;
  width: 474px;
  height: 286px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic4:hover{
  transform: scale(1.1);
}


.pic5{
  background-image:url('..//Images/Rectangle\ 9.png');
  object-fit:cover;
  width: 274px;
  height: 286px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic5:hover{
  transform: scale(1.1);
}



.flex3{
  display:flex;
  gap:24px;
 }

 .pic6{
  background-image:url('../Images/Rectangle\ 11.png');
  object-fit:cover;
  width: 474px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic6:hover{
  transform: scale(1.1);
}

.pic7{
  background-image:url('../Images/Rectangle\ 10.png');
  object-fit:cover;
  width: 673px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  transition:transform 0.5s;
}

.pic7:hover{
  transform: scale(1.1);
}

.three-sec{

}



.choose-title{
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom:24px;
}

.choose-description{
  color: rgba(19, 19, 24, 0.70);
 
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
  width:643px;
  margin-bottom:48px;
}
